<% @projects.each do |project| %>
  <tr data-controller="project" data-project-url="<%= project_path(project.id, format: :json) %>">
    <td><%= project.name %></td>
    <td><%= project.client.name %></td>
    <td data-target="project.hours"></td>
    <td data-target="project.amount"></td>
    <td align="center">
      <% if authenticated_with_moneybird? %>
        <div class="form-check">
          <%= check_box_tag 'sales_invoice[project_id][]', project.id, false, class: 'form-check-input' %>
        </div>
      <% end %>
    </td>
    <td>
      <% if authenticated_with_moneybird? %>
        <%= project.state(@project_states) %>
      <% end %>
    </td>
  </tr>
<% end %>
