<% @projects.each do |project| %>
  <tr data-controller="project" data-project-url="<%= project_path(project.id, format: :json) %>">
    <td><%= project.name %></td>
    <td><%= project.client.name %></td>
    <td data-target="project.hours"></td>
    <td data-target="project.amount"></td>
    <td>
      <% if authenticated_with_moneybird? %>
        <% state = project.state(@project_states) %>
        <% if state == 'Paid' %>
          <%= state %>
        <% else %>
          <%= state %>
        <% end %>
      <% end %>
    </td>
    <td>
      <% if authenticated_with_moneybird? %>
        <% if project.state(@project_states) == 'Paid' %>
          <%= link_to 'Uninvoiced hours', project.uninvoiced_hours_report_url(@harvest_company['full_domain']) %>
        <% end %>
      <% end %>
    </td>
    <td class="text-center">
      <% if authenticated_with_moneybird? %>
        <div class="form-check">
          <%= check_box_tag 'sales_invoice[project_id][]', project.id, false, class: 'form-check-input' %>
        </div>
      <% end %>
    </td>
  </tr>
<% end %>
