<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Project</th>
      <th>Client</th>
      <th>Uninvoiced hours</th>
      <th>Uninvoiced amount</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.client.name %></td>
        <td><%= project.hours.round(2).to_s(:delimited, separator: ',') %></td>
        <td><%= number_to_currency project.amount %></td>
      </tr>
      <% project.tasks.each do |task| %>
        <tr>
          <td class="pl-4"><%= task.name %></td>
          <td></td>
          <td><%= task.hours.round(2).to_s(:delimited, separator: ',') %></td>
          <td></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
