<!DOCTYPE html>
<html>
  <head>
    <title>Harvester</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <header class="header clearfix">
        <!-- <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </nav> -->
        <h3 class="text-muted">Harvester</h3>
      </header>

      <%= render partial: 'flash', flash: flash %>

      <main role="main">

        <%= yield %>

      </main>

      <footer class="footer">
        <p>&copy; Harvester <%= Time.zone.now.year %></p>
      </footer>

    </div>
  </body>
</html>
